<%= form_with model: @entry, local: true do |form| %>

  <% if @entry.errors.any? %>
    <div id='error_explanation'>
      <h3>
        <%= pluralize(@entry.errors.count, 'error') %> prohibited this entry
        from being saved:
      </h2>
      <ul>
        <% @entry.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :firstname %>
    <%= form.text_field :firstname %>
  </p>
  
  <p>
    <%= form.label :lastname %>
    <%= form.text_field :lastname %>
  </p>

  <p>
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </p>

  <p>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
