<%= form_with model: @entry, url: entries_path, local: true do |form| %>

  <% if @entry.errors.any? %>
    <div id='error_explanation'>
      <h6>
        <%= pluralize(@entry.errors.count, 'error')%>
      </h6>
    </div>
    <% @entry.errors.full_messages.each do |msg| %>
      <div class="container alert alert-danger">
        <%= flash[:danger] = msg %>
      </div>
    <% end %>
  <% end %>

  <p>
    <%= form.text_field :firstname,
             placeholder: 'First Name' %>
  </p>
  
  <p>
    <%= form.text_field :lastname,
             placeholder: 'Last Name' %>
  </p>

  <p>
    <%= form.text_field :phone,
             placeholder: 'Phone Number' %>
  </p>

  <p>
    <%= form.text_field :email,
             placeholder: 'Email' %>
  </p>

  <p>
    <%= form.submit :Submit, 
             class: 'btn btn-outline-primary' %>
  </p>
<% end %>
