<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h5 class="col-sm ml-3"><strong>Name</strong></h5>
    <% @entries.each do |entry| %>
      <div class="row mt-3 ml-3" style="max-width: 30rem;">
        <div class="col-6"><%= entry.firstname.capitalize + ' ' + entry.lastname.capitalize %></div>
        <div class="col-auto"><%= link_to 'Show', entry_path(entry) %></div>
        <div class="col-auto"><%= link_to 'Edit', edit_entry_path(entry) %></div>
        <div class="col-auto"><%= link_to 'Delete', entry_path(entry),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<p class="text-center mt-3" style="max-width: 30rem;">
  <%= link_to 'Main Menu', controller: 'welcome' %>
</p>
