<div class="container">
  <h4 class="ml-3">
    Main Menu - <%= Entry.all.count %> entries
  </h4>
  <p class="ml-3">
    <%= link_to 'View all entries', controller: 'entries' %>
  </p>
  <p class="ml-3">
    <%= link_to 'Create an entry', new_entry_path %>
  </p>
  <p class="ml-3">Search for an entry</p>
  <h4 class="ml-3">Import Entries from CSV</h4>
  <%= form_tag import_entries_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag :Import %>
  <% end %>
  <p class="ml-3">Exit</p>
</div>
