<nav class="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
        <li class="<%= get_active_class(welcome_index_path) %>"><%= link_to("Home", welcome_index_path) %></li>
        <li class="<%= 'active' if current_page?(welcome_lists_path) %>"><%= link_to "Info", welcome_lists_path %></li>
        <li class="<%= 'active' if current_page?(new_user_checklist_path) %>"><%= link_to "My List", new_user_checklist_path %></li>
        <li class="dropdown <%= 'active' if current_page?(new_user_house_path(current_user.id)) || current_page?(user_houses_path(current_user.id)) %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Calc<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "New Calculations", new_user_house_path(current_user.id) %></li>
            <li><%= link_to "Saved Calc", user_houses_path(current_user.id) %></li>
          </ul>
        </li>
        <li class="<%= 'active' if current_page?(todo_lists_path) %>"><%= link_to "Checklist", todo_lists_path %></li>
        <li class="<%= 'active' if current_page?(welcome_about_path) %>"><%= link_to "Find a House", welcome_about_path %></li>
        <li class="<%= 'active' if current_page?(edit_user_registration_path) %>"><%= link_to "Account", edit_user_registration_path %></li>
        <li> <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
        <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
